*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

.bi-chevron-left{
	background-color: black;
	color: #fff;
	border-radius: 14px;
}
.bi-chevron-right{
	background-color: black;
	color: #fff;
	border-radius: 14px;
}
.carousel-control-next{
	padding-left: 90px;
}
.carousel-control-prev{
	padding-right: 90px;
}
.carousel-caption p{
	position: relative;
	right: 40%;
	bottom: 180px;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: bold;
	color: rgb(254, 69, 68);
}
.fon{
	position: relative;
	right: 34%;
	bottom: 195px;
}
.fon h2{
	font-weight: bold;
	word-spacing: 2px;
	color: #fff;
}
.hea{
	padding-left: 76px;
	color: #fff;
	position: relative;
	bottom: 4px;
}
.btn{
	 position: relative;
	 right: 42%;
	 bottom: 180px;
}
.btn button{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 25px;
	border: none;
	background-image: linear-gradient(to right, rgb(252, 98, 4),rgb(232, 33, 38));
	color: #F6F6F6;
	font-weight: bold;
	font-size: 17px;
	word-spacing: 2px;
	font-family: sans-serif;
}
.btn button:hover{
    color: #202020;
}
.fa-chevron-right{
	visibility: hidden;
	position: relative;
	left: 7px;
}
.btn button:hover .fa-chevron-right{
	visibility: visible;
}
.btn button:hover{
	margin-left: 15px;
}
.pio{
	position: relative;
	margin-right: 100px;
}
.kli{
	position: relative;
	margin-right: 139px;
}
.hey{
	position: relative;
	margin-left: 57px;
	margin-right: 30px;
}
.btttn{
	position: relative;
	right: 11px;
}
.texxt{
	position: relative;
	margin-right: 40px;
}
.kjyu{
	position: relative;
	margin-left: 60px;
}
.heyyy{
	position: relative;
	right: 8px;
}
.bytn{
	position: relative;
	right: 17px;
}
.mbng{
	position: relative;
	margin-left: 30px;
	word-spacing:normal;
	letter-spacing: normal;
}
.asw{
	position: relative;
	right: 114px;
}
.qwrt{
	position: relative;
	right: 60px;
}
.dery{
	position: relative;
	margin-right: 147px;
}

.ghyt{
	position: relative;
	margin-left: 38px;
	word-spacing: normal;
	letter-spacing: normal;
}
.tere{
	position: relative;
	right: 43px;
}
.throu{
	position: relative;
	right: 77px;
}
.buttn{
	position: relative;
	right: 56px;
}


.menu-bar{
	background-color: rgba(82,82,82,0.5);
    text-align: center;
    font-family: sans-serif;
    z-index: 9999;
    height: 150px;
    width: 100%;
    position: relative;
    bottom: 696px;
}
#maind{
	text-align: center;
    display: inline;
    margin: 10px;
    padding: 0;
    list-style-type: none;
}
#maind li{
	display: inline-block;
    position: relative;
    top: 10px; 
    left: 125px;
    padding: 37px 45px 0px 0px;
}
#maind li a{
	text-decoration: none;
    padding: 8px 0px;
    color: #333333;
}
#maind li a.active{
	color: #ff6600;
}
#maind .kop a{
	color: #fff;
}
#maind .aul li a{
	color: #ffd0bc
}
#maind li a:hover{
	color: #3eb7c4;
    transition:10s transform;
}
#maind li ul{
	padding: 0px;
    position:absolute;
    top: 60px;
    left: -138px;
    display: none;
    visibility: hidden;
    text-align: left;
}
#maind li ul li{
	background:#FF6010;
    display: block;
    width: 250px;
    padding: 15px;
    padding-left: 20px;
    border-radius: 0px;
    font-size: 15px;
}
#maind li ul li:hover{
	cursor: pointer;
	background: #FF814A;  
	border-radius: 0px;
}
#maind li ul li a:hover{
	color: #FCF1EC;
}
#maind li:hover ul{
	display: block;
	opacity: 1;
	visibility: visible;
	color: white;
}
#maind ul ul li{
	display: none;
}
#maind ul li:hover li{
	display: block;
	color: white;
}
#maind ul ul{
	left: 100%;
	top: 0;
}
.fa-angle-right{
	float: right;
}
.bvc{
	background-color: rgba(40,39,39,0.6);
	height: 40px;
	width: 100%;
}
.we{
	float: right;
	padding: 7px;
}
.we img{
	margin-left: 10px;
}

.as{
	color: #fff;
	padding: 10px;
	position: relative;
	right: 180px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}
.as p a{
	text-decoration: none;
	color: #fff;
}
.za{
	position: absolute;
	top: 53px;
	left: 20px;
	z-index: 5;
}
.za img{
	cursor: pointer;
}
.color{
	background-color: #F2F2F2;
	height: 500px;
	width: 100%;
	position: relative;
	bottom: 100px;
}
.tex{
	font-size: 25px;
	text-align: center;
	line-height: 50px;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    font-weight: bold;
    color: #2d3e52;
    font-family: 'Roboto', sans-serif;
    word-spacing: 3px;
}
.sha{
	background: #fff;
	width: 285px;
	height: 320px;
	float: right;
	margin: 60px 0px 0px 25px;
	position: relative;
	right: 20px;

}
.aq{
	 position: relative;
	 padding: 25px;
}
.sx{
	margin: auto;
	padding-left: 17px;
	line-height: 25px;
    width: 280px;
    font-family: sans-serif;
    font-size: 14px;
    color: #838383;
}
.boiu{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	line-height: 40px;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #2d3e52;
}
.gtw{
     background-color: #FAFAFA;
     height: 900px;
     width: 100%;
     clear: both;
     position: relative;
     top: 70px;
}
.mbn{
	text-align: center;
	font-size: 25px;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
    top: 50px;
    font-weight: bold;
    color: #2d3e52;
    font-family: 'Roboto', sans-serif;
    word-spacing: 3px;
}
.ghy{
	position: relative;
	top: 55px;
	margin: 0px 0px 0px 40px;
	overflow: hidden;
	overflow-y: hidden;
    overflow-x: hidden;
}
.ghy img{
     margin: 0px 25px 0px 0px;
     cursor: pointer;
}
.ghy #zoom img{
	transform: scale(1);
    transition: 0.3s ease-in-out;
}
.ghy #zoom img:hover{
	transform: scale(1.1);
	opacity: 0.6;
}
.jho{
     position: relative;
     top: 100px;
     display: inline-flex;
     overflow: hidden;
     overflow-y: hidden;
     overflow-x: hidden;
}
.jho img{
	transform: scale(1);
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
.jho img:hover{
	transform: scale(1.1);
	opacity: 0.6;
}
.btu{
	position: relative;
	top: 17px;
	margin-left: 57px;
}
.btpon{
	padding: 4px 25px 4px 25px;
	border-radius: 20px;
	border: none;
	background: linear-gradient(to right, #FF8C00, 	#DC1904);
	color: #fff;
}
.btpon:hover{
	background: linear-gradient(to right, #DC1904, #FF8C00);
    cursor: pointer;
}
.jpg{
	padding: 0px 0px 0px 29px;
}
.aqs{
	background-color: #E9E9E9;
	height: 400px;
	width: 100%;
	position: absolute;
	top: 94px;
}
.sda{
	background: #F9F9F9;
	height: 310px;
	margin: 45px 0px 0px 25px;
	overflow: hidden;
}
.the{
    padding: 0px 0px 0px 12px;
    font-size: 17px;
    color: #004C99;
    font-family: sans-serif;
}
.pra{
	font-size: 12px;
	word-spacing: 3px;
	color: #878787;
	font-family: sans-serif;

}
.pratwo{
	position: relative;
	left: 200px;
	font-size: 12px;
	bottom: 58px;
	font-family: sans-serif;
	color: #878787;
}
.lis{
	list-style: none;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	left: 175px;
	bottom: 78px;
	color:	#38BC38;
}
.bor{
	background-color: #F0F3F0;
	height: 30px;
	width: 100%;
}
.mba{
	font-size: 25px;
	position: relative;
	top: 60px;
	text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #2d3e52;
    font-family: 'Roboto', sans-serif;
    word-spacing: 2px;
}
.eqo{
	background-color: #E9E9E9;
	height: 100px;
	width: 100%;
	position: relative;
	top: 94px;
}
.bto{
	position: relative;
	bottom: 58px;
	margin-left: 26px;
}
.btl{
	padding: 7px 80px 7px 80px;
	border-radius: 20px;
	border: none;
	background: linear-gradient(to right, #FF8C00,  #DC1904);
	color: #fff;
	font-size: 12px;
	cursor: pointer;
}
.btl:hover{
     background: linear-gradient(to right, #DC1904, #FF8C00);
}
.list{
	list-style: none;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	left: 162px;
	bottom: 78px;
	color:	#38BC38;
}
.lisr{
	list-style: none;
	font-size: 25px;
	font-family: sans-serif;
	position: relative;
	left: 169px;
	bottom: 79px;
	color:	#38BC38;
}
.sda .imag{
	transform: scale(1);
	transition: 0.3s ease-in-out;
	margin-bottom: 14px;
}
.sda .imag:hover{
	transform: scale(1.2);
	cursor: pointer;
}
.btnlu{
	position: relative;
	right: 38%;
	top: 300px;
}
.bttn{
	padding: 11px 14px 11px 7px; 
	border-radius: 25px;
	border: none;
	background-color: #2C2727;
	transform: translateY(-38%);
	color: #fff;
	outline: none;
	font-size: 20px;
}
.spin{
	background-color: #F7F7F7;
	height: 400px;
	width: 100%;
	position: relative;
	top: 94px;
}
.xc{
	font-size: 20px;
	position: relative;
	top:70px;
	left: 40px;
	font-weight: inherit;
	color: #003366;
	font-family: 'Open Sans', sans-serif;
}
.spo{
	position:absolute;
	top: 110px;
	padding-left: 40px;
	width: 320px;
    color: grey;
    word-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.ol{
	position: absolute;
	left: 360px;
	top: 70px;
}
.ol .li{
	font-size: 20px;
	color: #003366;
	font-family: 'Open Sans', sans-serif;

}
.ol li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: grey;
	line-height: 21px;
}
.fa-caret-right{
	margin-right: 9px;
	color: lightgrey;
}
.ol li a{
	text-decoration: none;
	color: grey;
}
.ol li a:hover{
	color: #208DBC;
}
.yuo{
	position: absolute;
	left: 640px;
	top: 70px;
}
.yuo h4{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #003366;
	font-weight: inherit;
}
.mpi{
	font-size: 13px;
	width: 320px;
	font-family: 'Open Sans', sans-serif;
	color: grey;
}
.inpur{
	position: relative;
	top: 30px;
}
.inpo{
	padding: 10px 90px 10px 12px;
	background: #EBEBEB;
	border: none;
}
.btttttn{
	padding: 6px 6px 7px 6px;
	font-size: 18px;
	background-color: #98ce44;
	border:none;
	color: #fff;
	position: relative;
	right: 34px;
}
.btttttn:hover{
    background-color: #475172;
    cursor: pointer;
}
.pior{
	position: relative;
	left: 275px;
	bottom: 218px;
	margin-left: 70px;
}
.pior h5{
	font-size: 20px;
	color: #003366;
	font-family:  'Open Sans', sans-serif;
	font-weight: inherit;
}
.jpo{
	line-height: 20px;
}
.jpo li{
	list-style: none;
	font-size: 25px;
	line-height: 32px;
}
.fa-phone{
	margin-right: 8px;
	color: #ff6000;
}
.small{
	margin-top: 15px;
}
.small .social li{
	list-style: none;
	float: left;
	margin-right: 6px;
	background-color: #D1D2D2;
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
}
.social li a{
   list-style: none;
   color: #fff;
   padding: 11px;
}
.social li a:hover{
	background: #1C8AB2;
}
.social li a i{
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.social li a i:hover{
	transform: scale(1.2);
}
.social .fgr a{
      padding: 10px 14px;
}
.imgin{
    position: relative;
    top: 50px;
    width: 100%;
    z-index: 5;
}
.gyu{
	background-color: #F7F7F7;
	height: 120px;
	width: 100%;
}
.qwer{
	position: relative; 
	top: 75px;
	text-align: center;
	padding-left: 530px;
	font-family: sans-serif;
	font-size: 15px;
	color: grey;
	
}
.qwer a{
	text-decoration: none;
	color: grey;
}
.qwer a:hover{
	color: #208DBC;
	text-decoration: none;
}
.iop{
	padding: 14px;
	border-radius: 30px;
	border: 0;
	background-color: #19ADDA;
	position: relative;
	left: 1190px;
	bottom: 27px;
	width: 57px;
	cursor: pointer;	
	outline: none;
	position: relative;
	font-size: 20px;
	position: fixed;
	z-index: 5;
}
.iop:hover{
	background: #1B91B5;
}
.fa-comment{
     color: #fff;
}
.iiop{
	padding: 6px;
	border-radius: 120px;
	border: 2px solid darkorange;
	outline: none;
	width: 40px;
	position: relative;
	left: 1170px;
	top: 26px;
	transform: scale(1);
	transition: 0.3s ease-in-out;		
}
.iiop:hover{
	transform: scale(1.1);
	cursor: pointer;
}
.fa-long-arrow-up{
	font-style: italic;
	color: #2d3e52;
}












